body {
  width: 100vw;
  background: #0d1110;
}

.cards {
  position: absolute;
}
.head span {
  font-weight: 600;
  font-size: xx-large;
  color: #8c5c43;
}
.head {
  cursor: cell;
}
.head span:hover {
  color: #00e676 !important;
}
.iconss {
  position: relative;
  width: 70px;
  margin-left: 200px;
}
.all-cards {
  width: 100vw;
  height: 100%;
  /* transform: rotate(-30deg) skew(25deg) scale(0.8); */
}
.icon-shadow {
  position: absolute;

  width: 70px;
  height: 70px;
  background: darkgray;
  background: #43241a;
  transform: translate(-8px, 8px);
}
.iconss:after,
.iconss:before {
  content: "";
  background: darkgray;
  background: #43241a;
  position: absolute;
}
.iconss:after {
  width: 100%;
  height: 8px;
  left: -5px;
  bottom: 0;
  transform: translatey(100%) skewx(-45deg);
}
.iconss:before {
  width: 8px;
  height: 100%;
  left: -16px;
  transform: translatex(100%) skewy(-45deg);
  top: 5px;
}
.icon {
  position: relative;
  width: 70px;
  height: 70px;
  background: hsl(21, 35%, 41%);
  transition: 0.5s;
}

.icon div {
  color: #d0cec1;
}
.icon div span {
  position: relative;
  width: 70px;
  background: #8c5c43;

  height: 70px;
}

.icon:hover div span {
  color: #ffffff !important;
  cursor: pointer;
  /* box-shadow: 5px 10px 8px; */
}
.icon.fa-github:hover div span {
  transition: 0.5s;
  background: #333;
}
.icon.fa-twitter:hover div span {
  background: #1da1f2;
  box-shadow: -2px 3px 6px #1da0f26e;
}
.icon.fa-whatsapp:hover div span {
  box-shadow: -2px 3px 6px #00e6778e;
  background: #00e676;
}
.icon.fa-linkedin-in:hover div span {
  box-shadow: -2px 3px 6px #0077b5;
  background: #0077b5;
}
.icon.fa-youtube:hover div span {
  box-shadow: -2px 3px 6px #c4302b;
  background: #c4302b;
}
.icon.fa-facebook-f:hover div span {
  box-shadow: -2px 3px 6px #4267b2;
  background: #4267b2;
}
.icon.fa-tiktok:hover div span {
  box-shadow: -2px 3px 6px #000000;
  background: #000;
}
.icon.fa-instagram:hover div span {
  box-shadow: -2px 3px 6px #f09433;
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.icon div {
  height: fit-content;
  font-size: 48px;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  z-index: 0;
  transition-delay: 0.2s;
}
.iconss:hover {
  z-index: 500 !important;
}

.icon:hover div:nth-child(5) {
  transform: translate(20px, -20px);
  opacity: 1;
}

.icon:hover div:nth-child(4) {
  transform: translate(15px, -15px);
  opacity: 0.8;
}

.icon:hover div:nth-child(3) {
  transform: translate(10px, -10px);
  opacity: 0.6;
}

.icon:hover div:nth-child(2) {
  transform: translate(5px, -5px);
  opacity: 0.4;
}
.icon:hover div:nth-child(1) {
  opacity: 0.2;
}
